# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
ios/build
npm-debug.log

# BUCK
buck-out/
\.buckd/
android/app/libs
*.keystore
.eslintrc.json
app/assets/welcome/start2.png
app/global/animationHelp.js
app/redux/store/
ios/Podfile
ios/Podfile.lock
ios/Pods/
ios/TCP.xcworkspace/
app/global/const/
app/page/me/subView/award/
app/page/me/subView/myMoney/
.flowconfig
.gitattributes
.tmp/
.watchmanconfig
__tests__/
android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
ios/TCP-tvOS/
ios/TCP-tvOSTests/
ios/TCP.xcodeproj/xcshareddata/xcschemes/TCP-tvOS.xcscheme
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-57x57@1x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-57x57@2x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@1x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-72x72@1x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-72x72@2x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-76x76@3x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-Small-50x50@1x.png
ios/TCP/Images.xcassets/AppIcon.appiconset/Icon-Small-50x50@2x.png
