android/.gradle/*
android/app/build
android/app/app.iml
android/lgf.iml
android/npm-debug.log
android/build
android/
ios/build
ios/lgfTests
ios/lgfTests
ios/Podfile.lock
android/app/app.iml
local.properties
ios/build/Products
ios/ModuleCache
ios/Logs
node_modules/*
node_modules
.idea/*
.idea
*.DS_Store
